@font-face {
  font-family: "iconfont"; /* Project id 3955534 */
  src: url('../font/iconfont.woff2') format('woff2'),
       url('../font/iconfont.woff') format('woff'),
       url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e61f";
}

.icon-ios:before {
  content: "\e605";
}

.icon-anzhuo:before {
  content: "\e61a";
}

